### Dataset 1 visualization

In [35]:
!pip install folium

Collecting folium
  Using cached folium-0.12.1-py2.py3-none-any.whl (94 kB)
Collecting branca>=0.3.0
  Using cached branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: numpy in c:\users\crisp\anaconda3\lib\site-packages (from folium) (1.19.2)
Requirement already satisfied: jinja2>=2.9 in c:\users\crisp\anaconda3\lib\site-packages (from folium) (2.11.2)
Requirement already satisfied: requests in c:\users\crisp\anaconda3\lib\site-packages (from folium) (2.24.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\crisp\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\crisp\anaconda3\lib\site-packages (from requests->folium) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\crisp\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\crisp\anaconda3\lib\site-packages (from requests->folium) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in c:\users\crisp\anaconda3\lib\site-packages (from requests->folium) (2.10)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1

In [2]:
import pandas as pd

In [28]:
df = pd.read_csv("covid-19-dataset-1.csv")

In [24]:
df.head(3)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-07-20 19:35:29,32.3182,-86.9023,68891,1291,29736.0,37864.0,1.0,1405.025509,585533.0,7782.0,1.873975,84000001.0,USA,11941.890832,11.296105
1,Alaska,US,2020-07-20 19:35:29,61.3707,-152.4044,1950,18,712.0,1220.0,2.0,266.559132,173010.0,NaN,0.923077,84000002.0,USA,23649.946346,NaN
2,American Samoa,US,2020-07-20 19:35:29,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1037.0,NaN,NaN,16.0,ASM,1863.733578,NaN

In [25]:
df["Country_Region"].unique()[:2]

array(['US', 'Italy'], dtype=object)

In [26]:
za_df = df.loc[df.Country_Region == "South Africa"]

In [27]:
za_df.head(10)

Empty DataFrame
Columns: [Province_State, Country_Region, Last_Update, Lat, Long_, Confirmed, Deaths, Recovered, Active, FIPS, Incident_Rate, People_Tested, People_Hospitalized, Mortality_Rate, UID, ISO3, Testing_Rate, Hospitalization_Rate]
Index: []

array(['US', 'Canada', 'United Kingdom', 'China', 'Netherlands',
       'Australia', 'Denmark', 'France', 'Afghanistan', 'Albania',
       'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Central African Republic',
       'Chad', 'Chile', 'Colombia', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czechia', 'Diamond Princess', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Korea, South', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia',
       'Nepal', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan*', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [5]:
df.isna().count()

FIPS              2624
Admin2            2624
Province_State    2624
Country_Region    2624
Last_Update       2624
Lat               2624
Long_             2624
Confirmed         2624
Deaths            2624
Recovered         2624
Active            2624
Combined_Key      2624
dtype: int64

In [6]:
by_country = df.groupby('Country_Region').sum()[['Confirmed', 'Deaths', 'Recovered', 'Active']]
cdf = by_country.nlargest(10, 'Confirmed')[['Confirmed', ]]

In [29]:
za_df = df.loc[df.Country_Region == "South Africa"]
za_lat = za_df["Lat"]
za_long = za_df["Long_"]

In [32]:
za_df.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2596,NaN,NaN,NaN,South Africa,2020-04-03 22:46:20,-30.5595,22.9375,1505,9,95,1401,South Africa

In [13]:
za_lat

2596   -30.5595
Name: Lat, dtype: float64

In [33]:
by_country = za_df.groupby('Country_Region').sum()[['Confirmed', 'Deaths', 'Recovered', 'Active']]

In [34]:
by_country.head(10)

                Confirmed  Deaths  Recovered  Active
Country_Region
South Africa         1505       9         95    1401

In [ ]:
by_country = corona_df.groupby('Country_Region').sum()[['Confirmed', 'Deaths', 'Recovered', 'Active']]
cdf = by_country.nlargest(n, 'Confirmed')[['Confirmed']]

In [11]:
import folium
import pandas as pd
corona_df = pd.read_csv('dataset.csv')

corona_df=corona_df.dropna()

m=folium.Map(location=[34.223334,-82.461707],
            tiles='Stamen toner',
            zoom_start=8)

def circle_maker(x):
    folium.Circle(location=[x[0],x[1]],
                 radius=float(x[2])*10,
                 color="red",
                 popup='{}\n confirmed cases:{}'.format(x[3],x[2])).add_to(m)
corona_df[['Lat','Long_','Confirmed','Combined_Key']].apply(lambda x:circle_maker(x),axis=1)

html_map=m._repr_html_()

2624

In [ ]:
by_country = df[]